<oj-dialog style="width: 98vw; height: 90vh; position:fixed;" id="detailsDialog" cancel-behavior="icon">
    <style>
        #detailsDialog .oj-dialog-header {
            border-bottom: 1px solid red;
        }
        #detailsDialog .oj-dialog-body {
            padding-top: 30px;
        }
    </style>
    <div slot="header" class="dialogHeader oj-flex oj-sm-flex-wrap-nowrap oj-sm-justify-content-space-between">
        <span class="oj-typography-heading-lg">编号：<oj-bind-text value="[[roleID]]"></oj-bind-text></span>
        <span class="oj-typography-heading-lg"><oj-bind-text value="[[roleName]]"></oj-bind-text></span>
        <span class="oj-typography-heading-lg"><oj-bind-text value="[[rolePrice]]"></oj-bind-text>.00元</span>
        <span class="oj-typography-heading-lg oj-sm-margin-9x-end"><oj-bind-text value="[[roleServer]]"></oj-bind-text></span>
    </div>
    <div slot="body">
        <oj-switcher value="[[switcherSelectedItem]]">
            <div id="load"  slot="load" style="height: 600px;" class="oj-flex oj-sm-justify-content-center oj-sm-align-items-center">
                <oj-progress-circle size='lg' value='-1'></oj-progress-circle>
            </div>
            <div id="content"  slot="content" >
                <span class="oj-typography-heading-sm">宝物</span>
                <div class="oj-panel oj-sm-margin-10x-bottom oj-flex oj-sm-flex-wrap-nowrap oj-sm-justify-content-space-between">
                    <oj-bind-for-each data="[[treasureData]]">
                        <template>
                            <div class="oj-panel">
                                <oj-bind-dom config="[[$current.data]]"></oj-bind-dom>
                            </div>
                        </template>
                    </oj-bind-for-each>
                </div>

                <span class="oj-typography-heading-sm">宝物(背包)</span>
                <div class="oj-panel oj-sm-margin-10x-bottom oj-flex">
                    <oj-bind-for-each data="[[baowuOfBackpack]]">
                        <template>
                            <div class="oj-panel">
                                <oj-bind-dom config="[[$current.data]]"></oj-bind-dom>
                            </div>
                        </template>
                    </oj-bind-for-each>
                </div>

                <span class="oj-typography-heading-sm">三技能装备</span>
                <div class="oj-panel oj-sm-margin-10x-bottom oj-flex">
                    <oj-bind-for-each data="[[threeSkillsData]]">
                        <template>
                            <div class="oj-panel" style="margin-right:1px; margin-bottom:2px;">
                                <oj-bind-dom config="[[$current.data]]"></oj-bind-dom>
                            </div>
                        </template>
                    </oj-bind-for-each>
                </div>

                <span class="oj-typography-heading-sm">双技能装备</span>
                <div class="oj-panel oj-sm-margin-10x-bottom oj-flex">
                    <oj-bind-for-each data="[[twoSkillsData]]">
                        <template>
                            <div class="oj-panel" style="margin-right:1px; margin-bottom:2px;">
                                <oj-bind-dom config="[[$current.data]]"></oj-bind-dom>
                            </div>
                        </template>
                    </oj-bind-for-each>
                </div>

                <span class="oj-typography-heading-sm">娃娃</span>
                <div class="oj-panel oj-sm-margin-10x-bottom oj-flex">
                    <oj-bind-for-each data="[[wawaData]]">
                        <template>
                            <div class="oj-panel" style="margin-right:1px; margin-bottom:2px;">
                                <oj-bind-dom config="[[$current.data]]"></oj-bind-dom>
                            </div>
                        </template>
                    </oj-bind-for-each>
                </div>

                <span class="oj-typography-heading-sm">娃娃(背包)</span>
                <div class="oj-panel oj-sm-margin-10x-bottom oj-flex">
                    <oj-bind-for-each data="[[wawaOfBackpackData]]">
                        <template>
                            <div class="oj-panel" style="margin-right:1px; margin-bottom:2px;">
                                <oj-bind-dom config="[[$current.data]]"></oj-bind-dom>
                            </div>
                        </template>
                    </oj-bind-for-each>
                </div>

                <span class="oj-typography-heading-sm">内功</span>
                <div class="oj-panel oj-sm-margin-10x-bottom oj-flex">
                    <oj-table data='[[neigongsProvider]]'
                              columns-default.sortable='disabled'
                              style='width: 100%;'
                              columns='[{
                                  "headerText": "名称",
                                  "field": "name",
                                  "headerClassName": "oj-typography-subheading-sm"
                              }, {
                                  "headerText": "套路",
                                  "field": "type",
                                  "headerClassName": "oj-typography-subheading-sm"
                              }, {
                                  "headerText": "层数",
                                  "field": "level",
                                  "headerClassName": "oj-typography-subheading-sm"
                               }]'>
                    </oj-table>
                </div>

                <span class="oj-typography-heading-sm">古谱武学</span>
                <div class="oj-panel oj-sm-margin-10x-bottom oj-flex">
                    <oj-table data='[[gupuWuxuesProvider]]'
                              columns-default.sortable='disabled'
                              style='width: 100%;'
                              columns='[{
                                  "headerText": "名称",
                                  "field": "name",
                                  "headerClassName": "oj-typography-subheading-sm"
                              }, {
                                  "headerText": "套路",
                                  "field": "type",
                                  "headerClassName": "oj-typography-subheading-sm"
                              }, {
                                  "headerText": "层数",
                                  "field": "level",
                                  "headerClassName": "oj-typography-subheading-sm"
                               }]'>
                    </oj-table>
                </div>

                <span class="oj-typography-heading-sm">99武学</span>
                <div class="oj-panel oj-sm-margin-10x-bottom oj-flex">
                    <oj-table data='[[_99WuxuesProvider]]'
                              columns-default.sortable='disabled'
                              style='width: 100%;'
                              columns='[{
                                  "headerText": "名称",
                                  "field": "name",
                                  "headerClassName": "oj-typography-subheading-sm"
                              }, {
                                  "headerText": "所属",
                                  "field": "type",
                                  "headerClassName": "oj-typography-subheading-sm"
                              }, {
                                  "headerText": "层数",
                                  "field": "level",
                                  "headerClassName": "oj-typography-subheading-sm"
                               }]'>
                    </oj-table>
                </div>

                <span class="oj-typography-heading-sm">经脉</span>
                <div class="oj-panel oj-sm-margin-10x-bottom oj-flex">
                    <oj-table data='[[jingmaisProvider]]'
                              columns-default.sortable='disabled'
                              style='width: 100%;'
                              columns='[{
                                  "headerText": "名称",
                                  "field": "name",
                                  "headerClassName": "oj-typography-subheading-sm"
                              }, {
                                  "headerText": "周天",
                                  "field": "level",
                                  "headerClassName": "oj-typography-subheading-sm"
                              }, {
                                  "headerText": "奇珍效果",
                                  "field": "qizhen",
                                  "headerClassName": "oj-typography-subheading-sm"
                              },{
                                  "headerText": "所属宗派",
                                  "field": "school",
                                  "headerClassName": "oj-typography-subheading-sm"
                              }]'>
                    </oj-table>
                </div>

                <span class="oj-typography-heading-sm">坐骑</span>
                <div class="oj-panel oj-sm-margin-10x-bottom oj-flex">
                    <oj-bind-for-each data="[[mountsData]]">
                        <template>
                            <div class="oj-panel" style="margin-right:1px; margin-bottom:2px;">
                                <oj-bind-dom config="[[$current.data]]"></oj-bind-dom>
                            </div>
                        </template>
                    </oj-bind-for-each>
                </div>

                <span class="oj-typography-heading-sm">风物志</span>
                <div class="oj-panel oj-flex">
                    <oj-bind-for-each data="[[skinDataProvider]]">
                        <template data-oj-as="item">
                            <div style="width:180px; height:180px; background-color: #675946; margin: 4px 4px; padding: 2px 4px; border: 1px solid #000; border-radius: 3px;">
                                <div>
                                    <oj-bind-text value="[[item.data.name]]"></oj-bind-text>
                                    <br>类型:<font color='#FFFFFF'><oj-bind-text value="[[item.data.type]]"></oj-bind-text></font>
                                    <br>品质:<oj-bind-text value="[[item.data.quality]]"></oj-bind-text>
                                </div>
                                <img :src="[[item.data.photo]]" alt="风物志" width="90px" height="90px"/>
                            </div>
                        </template>
                    </oj-bind-for-each>
                </div>
            </div>
        </oj-switcher>
    <div slot="footer"></div>
</oj-dialog>