<div id="filter" class="filter">
    <div class="filter_advanced">
        <div style="width:50%;">
            <oj-input-text  class="oj-form-control-width-sm" label-hint="名字" value="{{name}}" length.max="5" validators="[[nameValidator]]" clear-icon="conditional"></oj-input-text>
            <oj-select-single class="oj-form-control-width-sm"
                              data="[[serverDP]]"
                              value="{{selectedServer}}"
                              label-hint="区服">
            </oj-select-single>
        </div>

        <div class="placeholder"></div>

        <div id='buttons-container'>
            <oj-button id="icon_button2" chroming="solid" on-oj-action="[[search]]">
                点击搜索
                <img slot="startIcon"
                     src="css/images/sousuo.png"
                     alt="image"
                     width="20" height="20"/>
            </oj-button>
        </div>
    </div>
</div>

<div class="wrapper_content">
    <oj-switcher value="[[switcherSelectedItem]]">
        <div id="initial"  slot="initial" >
            <div>
                <img src="css/images/initial.png"/>
            </div>
        </div>

        <div id="pagingControl" slot="pagingControl">
            <oj-table id='table' aria-label='Roles Table'
                      data='[[pagingDataProvider]]'
                      selection-mode='{"row": "single"}'
                      columns-default.sortable='disabled'
                      style='width: 100%;'
                      columns='[{"headerText": "编号",
                                  "field": "id",
                                  "headerClassName": "oj-typography-subheading-sm"
                              }, {
                                  "headerText": "角色名称",
                                  "field": "name",
                                  "headerClassName": "oj-typography-subheading-sm"
                              }, {
                                  "headerText": "性别",
                                  "field": "gender",
                                  "headerClassName": "oj-typography-subheading-sm"
                              }, {
                                  "headerText": "所属宗派",
                                  "field": "school",
                                  "headerClassName": "oj-typography-subheading-sm"
                              }, {
                                  "headerText": "内功研修",
                                  "field": "neigongyanxiu",
                                  "headerClassName": "oj-typography-subheading-sm"
                              }, {
                                  "headerText": "价格",
                                  "field": "price",
                                  "sortable":"enabled",
                                  "headerClassName": "oj-typography-subheading-sm",
                                  "className": "oj-text-color-danger"
                              }, {
                                  "headerText": "状态",
                                  "field": "status",
                                  "headerClassName": "oj-typography-subheading-sm"
                              }, {
                                  "headerText": "服务器",
                                  "field": "server.name",
                                  "headerClassName": "oj-typography-subheading-sm"
                              }, {
                                  "headerText": "查看详情",
                                  "headerClassName": "oj-typography-subheading-sm",
                                  "headerStyle": "text-align: center;",
                                  "style":"text-align: center; padding-top: 0px; padding-bottom: 0px;",
                                  "template": "actionTemplate"
                              }]'>
                <template slot="actionTemplate" data-oj-as="cell">
                    <oj-button id="info" chroming="borderless" display='icons' on-oj-action="[[actionListener]]">
                        <span slot='startIcon' class="oj-ux-ico-information"></span>
                    </oj-button>
                </template>
                <template slot="noData">
                    <div class="oj-flex oj-sm-align-items-center" style="height:100%">
                        <div class="oj-flex oj-sm-align-items-center oj-sm-flex-direction-column" style="width:100%">
                            <img class="oj-sm-margin-5x-top" src="css/images/noData.png"/>
                            <span class="oj-sm-padding-2x-top oj-sm-padding-5x-bottom oj-typography-heading-xl">抱歉，没有相关物品!</span>
                        </div>
                    </div>
                </template>
                <oj-paging-control id="paging" data="[[pagingDataProvider]]" page-size="10" slot="bottom">
                </oj-paging-control>
            </oj-table>
        </div>
    </oj-switcher>
</div>

<!--遮罩层-->
<div class="mark loading">
    <div></div>
</div>